<div class="text-center">
  <div
    class="relative w-72 h-40 flex flex-col items-center justify-center overflow-hidden mb-4"
  >
    <canvas
      id="uv-canvas"
      width="250"
      height="150"
      class="rounded-t-full mt-8 border-8 border-gray-300"
    ></canvas>
    <div class="absolute inset-0 flex flex-col mt-10  items-center justify-center">
      <p id="uv-index" class="text-xl mb-2 ">
        <span id="uv-value" class="font-bold text-white text-3xl">1</span>
      </p>
      <p id="uv-label" class="text-sm">Low</p>
    </div>
  </div>
</div>
