<div class="text-center">
  <div
    class="relative w-60 h-24 flex flex-col items-center justify-center overflow-hidden mb-4"
  >
    <canvas
      id="uv-canvas"
      width="200"
      height="100"
      class="rounded-t-full mt-8 border-8 border-gray-300"
    ></canvas>
    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <p id="uv-index" class="text-xl mb-2">
        <span id="uv-value" class="font-bold text-white">1</span>
      </p>
      <p id="uv-label" class="text-sm">Low</p>
    </div>
  </div>
</div>
