<div class="p-4 h-full">
  <div class="flex">
    <div class="font-bold text-sm">Rain Rate</div>
  </div>
  <div class="grid grid-cols-2 h-full items-center">
    <div class="grid grid-cols-1">
      <span class="font-medium text-4xl font-gradient">{{ dataValue }}</span>
      <span class="ml-1">{{ dataUnit }}</span>
    </div>
    <div class="ml-12 w-28 ">
      <img
        src="assets/images/icons/rainRate-icon.svg"
        class="absolute -ml-[50px] -mt-[80px]"
        alt=""
      />
    </div>
  </div>
</div>
