<div class="flex gap-2 p-4 items-center">
  <div>
    <img src="assets/images/icons/pressure-icon.svg" class="h-5" alt="" />
  </div>
  <div>pressure</div>
</div>
<div class="grid grid-cols-1 p-4 h-full justify-center justify-items-center">
  <div class="flex flex-col">
    <div class="text-center">Relative</div>
    <div class="text-xl font-bold">1010.5 hPa</div>
  </div>
  <div class="flex flex-col">
    <div class="text-center">Absolute</div>
    <div class="text-xl font-bold">1010.5 hPa</div>
  </div>
</div>
