<div class="card-container">
  <div class="card card-blue">
    <div class="row">
      <div class="col left">
        <div class="row location-row">
          <div class="pin">
            <ion-icon class="location" mode="ios" size="large" name="location"></ion-icon>
          </div>
          <div class="location">
            <span>Jakarta</span>
          </div>
        </div>
      </div>
      <div class="col right">
        <ion-segment mode="ios" value="celcius" (ionChange)="switchTemperature($event)">
          <ion-segment-button value="fahrenheit">
            <ion-label class="fahrenheit">F</ion-label>
          </ion-segment-button>
          <ion-segment-button value="celcius">
            <ion-label class="celcius">C</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <div class="row">
      <div class="col left">
        <div class="temp">
          <h1>Tuesday</h1>
          <span>24 Dec 2023</span>
          <div class="temperature">
            <span>30&deg;</span>
            <span>C</span>
          </div>
          <span>High: 7&deg; Low: 10&deg;</span>
        </div>
      </div>
      <div class="col right">
        <div class="temp-cloud">
          <div class="cloud-sun-icon">
            <img src="assets/icon/cloud.png" class="cloud" alt="cloud icon" />
          </div>
          <h1>Cloudy</h1>
          <span>Feels like 26&deg;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-red">
    <h3>Today Highlight</h3>
    <div class="row">
      <div class="col left card-item">Chance of Rain</div>
      <div class="col right card-item">UV Index</div>
    </div>
    <div class="row">
      <div class="col left card-item">Wind Status</div>
      <div class="col right card-item">Humidity</div>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card card-green">
    <div class="card-content">
      <div class="col left">
        <div class="card cardcustomm">
          <div class="card-body">
            <div class="forecast">
              <div class="forecast-item">
                <span>1 PM</span>
                <img src="assets/icon/cloud.png" alt="Weather Icon" />
                <span>20&deg;</span>
              </div>
              <div class="forecast-item">
                <span>1 PM</span>
                <img src="assets/icon/cloud.png" alt="Weather Icon" />
                <span>20&deg;</span>
              </div>
              <div class="forecast-item">
                <span>1 PM</span>
                <img src="assets/icon/cloud.png" alt="Weather Icon" />
                <span>20&deg;</span>
              </div>
              <div class="forecast-item">
                <span>1 PM</span>
                <img src="assets/icon/cloud.png" alt="Weather Icon" />
                <span>20&deg;</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Konten bottom card -->
        <div class="bottom-card">
          <div class="bottom-card-content">
            <div class="thunderstorm">
              <img src="assets/icon/cloud.png" alt="Thunderstorm Icon" />
              <span>14&deg;</span>
            </div>
            <div class="weather-info">
              <p>Tomorrow</p>
              <p>Thunder storm</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col right">
        <!-- Konten card status dipindahkan ke sini -->
        <div class="card cardstatus">
          <div class="time-box sunrise">
            <h2>Sunrise</h2>
            <p>6:45 AM</p>
          </div>
          <div class="time-box sunset">
            <h2>Sunset</h2>
            <p>5:09 PM</p>
          </div>
          <div class="time-box length-of-day">
            <h2>Length of<br>day</h2>
            <p>10 h 23 m</p>
          </div>          
        </div>
      </div>
    </div>
  </div>

  <div class="card card-yellow">
    <canvas #chartCanvas></canvas>
  </div>
</div>