.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  .card {
    width: calc(50% - 10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

    &-blue {
      background: #1e1e1e;
      color: white;

      .location-row {
        background-color: #d8e9f9;
        border-radius: 20px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        width: 130px;
        height: 30px;

        .pin {
          margin-right: 5px;

          .location {
            color: #2f2f2f;
            height: 20px;
            width: 20px;
          }
        }

        .location {
          font-size: 16px;
          font-weight: normal;
          color: #2f2f2f;
        }
      }
    }

    &-red {
      background: linear-gradient(to right, #223e48, #1e1f1f);
      color: white;

      .card-item {
        background-color: #00b4db;
        height: 150px;
        width: 49%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    &-green {
      background: linear-gradient(to right, #00b4db, #0083b0);
      color: white;

      .card-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .cardcustomm {
        width: 100%; 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 30px;

        .card-body {
          .forecast {
            display: flex;
            overflow-x: auto;

            .forecast-item {
              flex: 0 0 auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              background-color: rgba(255, 255, 255, 0.2);
              padding: 10px;
              border-radius: 10px;
              margin-right: 10px;

              span {
                margin: 5px 0;
              }

              img {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }

      .cardstatus {
        width: 100%; 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
      
        .time-box {
          margin: 5px 0;
      
          h2 {
            font-size: 18px;
            font-weight: bold;
            margin-top: 35px;
          }
      
          p {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 35px;
          }
        }
      }
      

      .bottom-card {
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;

        .bottom-card-content {
          display: flex;
          align-items: center;

          .thunderstorm {
            display: flex;
            align-items: center;

            img {
              width: 50px;
              height: 50px;
            }

            span {
              margin-left: 10px;
              font-size: 24px;
            }
          }

          .weather-info {
            margin-left: 20px;

            p {
              margin: 0;
            }
          }
        }
      }
    }

    &-yellow {
      background: linear-gradient(to right, #ffeb3b, #fdd835);
      color: black;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .col {
    &.left,
    &.right {
      flex: 1;
    }

    &.left .temp {
      h1 {
        font-size: 24px;
        font-weight: bold;
      }

      span {
        font-size: 12px;
        font-weight: 100;
      }

      .temperature span {
        font-size: 56px;
      }
    }

    &.right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .temp-cloud {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cloud-sun-icon {
          position: relative;

          img.cloud {
            margin-top: 20px;
            width: 80%;
            height: 100px;
            opacity: 0.6;
          }

          &::before {
            content: "";
            position: absolute;
            left: 40%;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: linear-gradient(to top, #ffa502, #dd7206);
          }
        }

        h1 {
          font-size: 24px;
          font-weight: normal;
        }

        span {
          font-size: 12px;
        }
      }

      ion-segment {
        margin-right: 10px;
        width: 100px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-segment-button {
          height: 20px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.ios {
            --color: #2f2f2f;
            --color-checked: #d8e9f9;
            --border-radius: 20px;
            --background: #d8e9f9;
          }
        }

        ion-label {
          &.fahrenheit {
            text-align: center;
            --color: #2f2f2f;
          }

          &.celcius {
            text-align: center;
            --color: #2f2f2f;
          }
        }
      }
    }
  }
}
