#bg-dew-point {
  background-image: url("../../../../assets//images/bg-dew-point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.font-gradient {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 9%, #464646 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
