 .uv-low { background-color: #a2bc3a; }
        .uv-medium { background-color: #eaca1b; }
        .uv-high { background-color: #f3992d; }
        .uv-very-high { background-color: #eb433a; }
        .uv-extreme { background-color: #a55ed4; }
