#nav-ombro {
  background-image: url("../../assets/images/icon_ombro.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#temp {
  background-image: url("../../assets/images/bg-temp.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#pressure {
  background-image: url("../../assets/images/bg-pressure.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#humidity {
  background-image: url("../../assets/images/bg-humidity.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#rainRate {
  background-image: url("../../assets/images/bg-rain-event.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#uv {
  background-image: url("../../assets/images/bg-uv.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#dewPoint {
  background-image: url("../../assets/images/devPoint.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#power {
  background-image: url("../../assets/images/bg-power.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
