.progress {
  position: relative;
  /* Removed unnecessary properties for responsiveness: display: flex, margin, float */
  width: fit-content; /* Adapts width to content */
  text-align: center;
}

.barOverflow {
  position: relative;
  width: 150px; /* Adjust for desired aspect ratio */
  height: 90px; /* Adjust for desired aspect ratio */
  margin-bottom: 4px; /* Adjust margin if needed */
  overflow: hidden;
  /* Removed background-color for clarity */
}

.bar {
  position: absolute;
  top: 0;
  // left: calc(50% - 65px); /* Center horizontally within .barOverflow */
  width: 149px;
  height: 142px;
  margin-top: 3vh;
  border-radius: 50%;
  box-sizing: border-box;
  border: 12px solid #ccc;
  border-bottom-color: #0170f2;
  border-right-color: #0170f2;
  // transform: rotate(180);
   box-shadow: 0px 0px 10px 5px rgba(71, 35, 130, 0.5);
}
.font-gradient {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 9%, #464646 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
